body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url('img/b8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header {
  background-color: #0077B5;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}

nav{
  margin-left: 80%;

}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}


/*nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
*/

